html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: #87ceeb;
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
  h1,
  p {
    color: #222;
  }
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 4rem);
  grid-template-rows: repeat(7, 4rem);
  outline: 10px solid #000;
  max-width: calc(7 * 4rem);
  .cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    outline: 5px solid #000;
    &.white {
      background-color: #fff;
      color: #000;
    }
    &.black {
      background-color: #111;
      color: #fff;
    }
    &.pink {
      background-color: hotpink;
      color: #000;
    }
  }
}
